*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg'), rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  font-family: 'Nunito', sans-serif;
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width:7px
}
::-webkit-scrollbar-track {
  background: #716f6f;
  border-radius: 10px
}
::-webkit-scrollbar-thumb {
  background: #d10000;
  border-radius: 10px
}

.header-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  /* padding-bottom: 15px */
}

#logo {
  display: flex;
  color: red;
  height: 100%;
  margin: 0;
  padding-left: 30px;
  align-items: center;
}

.search {
  display: flex;
  height: 100%;
  padding-right: 30px;
  align-items: center;
}

.search-bar{
  height: 30px;
  border: none;
  border-radius: 10px;
  transition: width 1s;
  padding: 5px;
  width: 100px;
}

.search-bar:hover {
  width: 250px;
}

.search-bar:focus{
  border: none;
  outline: none;
}

.nav_menu{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
}

.menu{
  color: aliceblue;
}

.menu li{
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  font-size: 20px;
}


main {
  height: 100vh;
  width: 100%;

}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;;
}

.poster {
  display: flex;
  justify-content: space-around;
  position: relative;
  background: black;
  width: calc(100%/4) - 20px;
  margin: 10px;
  border-radius: 5px;
}

.flyer {
  width: calc(100%/4) - 20px;
  z-index: 2;
  border-radius: 5px;
}

.flyer:hover {
  opacity: 0.0;
  z-index: 0;
}

.flyer-substitute{
  width: calc(100%/4) - 20px;
  height: 400px;
  z-index: 2
}

.flyer-substitute:hover{
  z-index: 0;
  opacity: 0.0;
}

.specs {
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.specs:hover{
  z-index: 2;
}

.overview{
  width: 200px;
  height: 150px;
  overflow-y: auto;
}


.stars {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.stars li{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.stars i {
  display: inline-block;
  color: yellow;
  margin: 0;
  padding: 0;
}

.flag{
  height: 20px;
  width: 30px;
}
