<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolflix</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="header-bar">
          <h1 id="logo">
            BOOLFLIX
          </h1>
          <div class="search-bar">
            <input type="text" name="" value="" placeholder="Inserisci titolo" v-model="keywordMovieTitle" v-on:keyup.enter="apiSearch">
            <button type="button" name="button" @click="apiSearch">Cerca</button>
          </div>
        </div>
      </header>

      <main>
        <div id="wrapper">
          <div class="poster" v-for="movie in movies">
            <img class="flyer" :src="'https://image.tmdb.org/t/p/w220_and_h330_face/' +  movie.poster_path"  alt="">
            <div class="specs">
              <p><strong>Titolo:</strong> {{ movie.title }}</p>
              <p><strong>Titolo originale:</strong> {{ movie.original_title }}</p>
              <span>
                Voto:
                <ul class="stars">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </span>
              <p><strong>Overview:</strong> {{ movie.overview }} </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
